services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    # environment:
    #   - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
      - migration

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    # environment:
    #   - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    env_file:
      - ./backend/.env
    # environment:
    #   - POSTGRES_USER=${POSTGRES_USER}
    #   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    #   - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  migration:
    build:
      context: ./backend
      dockerfile: Dockerfile.migrate
    container_name: migration
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    # environment:
    #   - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db

volumes:
  pgdata: